<div class="header bg-gradient-danger pb-8 pt-5 pt-md-8">
    <div class="container-fluid">

        <ng-template #content let-c="close" let-d="dismiss">
            <div class="modal-header">

                <h4 class="modal-title" id="modal-basic-title">Add new Session!</h4>
                <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="card-body px-lg-5 py-lg-5">

                    <form #seanceForm (submit)='saveSeance(seanceForm)' method="POST">
                        <div class="form-group">
                            <div class="input-group input-group-alternative mb-3">
                                <div class="input-group-prepend">
                                    <span class="input-group-text"><i class="ni ni-hat-3"></i></span>
                                </div>
                                <input class="form-control" placeholder="Name" type="text" name="name" id="name"
                                    required>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="input-group input-group-alternative mb-3">
                                <div class="input-group-prepend">
                                    <span class="input-group-text"><i class="ni ni-hat-3"></i></span>
                                </div>
                                <select class="form-control" placeholder="Teacher" name="enseignant" id="enseignant"
                                    required>
                                    <option disabled>Choose teacher </option>
                                    <option *ngFor='let ens of enseignants' value="{{ens._id}}">{{ens.name}} </option>
                                </select>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="input-group input-group-alternative mb-3">
                                <div class="input-group-prepend">
                                    <span class="input-group-text"><i class="ni ni-email-83"></i></span>
                                </div>
                                <input class="form-control" placeholder="Date debut" type="datetime-local"
                                    name="dateDebut" required>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="input-group input-group-alternative mb-3">
                                <div class="input-group-prepend">
                                    <span class="input-group-text"><i class="ni ni-email-83"></i></span>
                                </div>
                                <input class="form-control" placeholder="Date fin" type="datetime-local" name="dateFin"
                                    required>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="input-group input-group-alternative">
                                <div class="input-group-prepend">
                                    <span class="input-group-text"><i class="ni ni-lock-circle-open"></i></span>
                                </div>
                                <input class="form-control" placeholder="Type" type="text" name="type" required>
                            </div>
                        </div>


                        <div class="text-center">
                            <button type="submit" class="btn btn-primary mt-4">Save</button>
                        </div>
                    </form>
                </div>
            </div>

        </ng-template>

        <ng-template #content2 let-d="dismiss">
            <div class="modal-header">

                <h4 class="modal-title" id="modal-basic-title">Update Session!</h4>
                <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="card-body px-lg-5 py-lg-5">

                    <form #updateForm role="form" (submit)='updateSeance(updateForm)'>
                        <div class="form-group">
                            <label>Name</label>
                            <div class="input-group input-group-alternative mb-3">
                                <div class="input-group-prepend">
                                    <span class="input-group-text"><i class="ni ni-hat-3"></i></span>
                                </div>
                                <input class="form-control" placeholder="Name" type="text"
                                    value="{{selectedSeance.name}}" name="name">
                            </div>
                        </div>
                        <div class="form-group">
                            <label>Teachers</label>
                            <div class="input-group input-group-alternative mb-3">
                                <div class="input-group-prepend">
                                    <span class="input-group-text"><i class="ni ni-hat-3"></i></span>
                                </div>
                                <select class="form-control" placeholder="Teacher" value="{{selectedSeance.enseignant}}"
                                    name="enseignant" id="enseignant" required>
                                    <option disabled>Choose teacher </option>
                                    <option *ngFor='let ens of enseignants' value="{{ens._id}}">{{ens.name}} </option>
                                </select>
                            </div>
                        </div>
                        <div class="form-group">
                            <label>Date Debut</label>
                            <div class="input-group input-group-alternative mb-3">
                                <div class="input-group-prepend">
                                    <span class="input-group-text"><i class="ni ni-email-83"></i></span>
                                </div>
                                <input class="form-control" placeholder="Date debut" type="datetime-local"
                                    value="{{selectedSeance.dateDebut}}" name="dateDebut" required>
                            </div>
                        </div>
                        <div class="form-group">
                            <label>Date Fin</label>
                            <div class="input-group input-group-alternative mb-3">
                                <div class="input-group-prepend">
                                    <span class="input-group-text"><i class="ni ni-email-83"></i></span>
                                </div>
                                <input class="form-control" placeholder="Date fin" type="datetime-local"
                                    value="{{selectedSeance.dateFin}}" name="dateFin" required>
                            </div>
                        </div>
                        <div class="form-group">
                            <label>Type</label>
                            <div class="input-group input-group-alternative">
                                <div class="input-group-prepend">
                                    <span class="input-group-text"><i class="ni ni-lock-circle-open"></i></span>
                                </div>
                                <input class="form-control" placeholder="Type" type="text"
                                    value="{{selectedSeance.type}}" name="type" required>
                            </div>
                        </div>






                        <div class="text-center">
                            <button type="submit" class="btn btn-primary mt-4">Save</button>
                        </div>
                    </form>
                </div>
            </div>

        </ng-template>

        <button class="btn btn-primary my-4" (click)="open(content)">Add new Session</button>
        <div class="input-group input-group-alternative">
            <div class="input-group-prepend">
                <span class="input-group-text"><i class="fas fa-search"></i></span>
            </div>
            <input class="form-control" placeholder="Search" type="text" [(ngModel)]="searchText">

        </div>
    </div>
</div>
<!-- Page content -->
<div class="container-fluid mt--7">


    <div class="row">
        <div class="col">
            <div class="card shadow">
                <div class="card-header border-0">
                    <h3 class="mb-0">Sessions List</h3>
                </div>
                <div class="table-responsive">
                    <table class="table align-items-center table-flush">
                        <thead class="thead-light">
                            <tr>

                                <th scope="col">Name</th>
                                <th scope="col">Teacher</th>
                                <th scope="col">Student</th>
                                <th scope="col">Start Date</th>
                                <th scope="col">End Date</th>
                                <th scope="col">Type</th>
                                <th scope="col">Action</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr
                                *ngFor="let sc of seances |filter:searchText | paginate: { itemsPerPage: 2, currentPage: p } ">

                                <td>
                                    {{sc.name}}
                                </td>
                                <td>
                                    <span class="badge badge-dot mr-4">
                                        <i class="bg-warning"></i>{{sc.enseignant.name}}
                                    </span>
                                </td>
                                <td>
                                    <span class="badge badge-dot mr-4"><i class="bg-info"></i> {{sc.user.name}}</span>
                                </td>
                                <td>
                                    <div class="d-flex align-items-center">
                                        <span class="mr-2">{{sc.dateDebut | date: 'MMM d, y, h:mm:ss a'}}</span>

                                    </div>
                                </td>
                                <td>
                                    <div class="d-flex align-items-center">
                                        <span class="mr-2">{{sc.dateFin | date: 'MMM d, y, h:mm:ss a'}}</span>

                                    </div>
                                </td>
                                <td>
                                    <div class="d-flex align-items-center">
                                        <span class="mr-2">{{sc.type}}</span>

                                    </div>
                                </td>
                                <td>

                                    <button class="btn btn-success my-4 rounded-0" type="button"
                                        (click)="open2(content2,sc)">
                                        <i class="fa fa-edit"></i>
                                    </button>
                                    <button class="btn btn-danger my-4 rounded-0" type="button" *ngIf="sc._id"
                                        (click)="deleteSeance(sc._id)">
                                        <i class="fa fa-trash"></i>
                                    </button>
                                </td>
                            </tr>




                        </tbody>
                    </table>
                </div>

                <div class="card-footer py-4">
                    <nav aria-label="...">
                        <pagination-controls class="pagination pg-blue justify-content-center"
                            (pageChange)="p = $event">
                        </pagination-controls>
                    </nav>
                </div>
            </div>
        </div>
    </div>

</div>